Q1.Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
WAP to add 200 and 300 to L.
WAP to remove 10 and 30 from L.
WAP to sort L in ascending order.
WAP to sort L in descending order.

In [5]:
#Creating List
L= [10, 20, 30, 40, 50, 60, 70, 80]
print("original list",L)

#adding 200 and 300
L.append(200)
L.append(300)
print("\nadded List",L)

#Removing 10 and 30
L.remove(10)
L.remove(30)
print("\nnew List:",L)

#Sort in Ascending order
L.sort()
print("\nList in ascending order",L)

#Sort in Descending order
L.sort(reverse=True)
print("\nList in descending order:",L)

original list [10, 20, 30, 40, 50, 60, 70, 80]

added List [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

new List: [20, 40, 50, 60, 70, 80, 200, 300]

List in ascending order [20, 40, 50, 60, 70, 80, 200, 300]

List in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

Q2.Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions:
Identify the highest score and its index in the tuple.
Find the lowest score and count how many times it appears.
Reverse the tuple and return it as a list.
Check if a specific score ‚Äò76‚Äô (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it‚Äôs not present.

In [129]:
#creating Tuple
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) 

#Highest Score and its value
print("Highest score is:",max(scores),"and index is:",scores.index(max(scores)))

#Lowest score and number of times it appears
print("\nLowest score is:",min(scores),"it has appeared",scores.count(min(scores)),"times")

#Reversing the tuple and returning it as a list
print("\nreversed list:",list(scores[::-1]))

#Checking if the input by the user is present in the tuple and print its first occurrence index, or an error message
flag=0
x=int(input("\nwenter a number:"))
for i in range(0,len(scores)):
    if scores[i]==x:
        print("yes the number is present! at index", i)
        flag=1
        break
if flag==0:
    print("Number is NOT present!")

Highest score is: 92 and index is: 5

Lowest score is: 45 it has appeared 2 times

reversed list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]

wenter a number: 4556

Number is NOT present!

In [ ]:
Q3.WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
->All odd numbers
->All even numbers
->All prime numbers

In [148]:
import random
L, O, E, P = [], [], [], []
even_count=odd_count=prime_count=0
for i in range(0,100):
    L.append(random.randint(100, 900))
for i in range(0,100):
    if L[i]%2==0:
        E.append(L[i])
        even_count+=1
    else:
        O.append(L[i])
        odd_count+=1
for n in L:
    if n > 1:
        for i in range(2, n):
            if n % i == 0:
                break
        else:
            P.append(n)
            prime_count+=1
print("there are total",even_count,"even numbers in the list are:",E)
print("\nthere are total",odd_count,"odd numbers in the list are:",O)
print("\nthere are total",prime_count,"prime numbers in the list are:",P)

there are total 52 even numbers in the list are: [790, 248, 706, 150, 886, 268, 148, 432, 634, 660, 286, 676, 294, 628, 320, 568, 660, 724, 544, 136, 758, 130, 710, 482, 892, 204, 798, 442, 740, 748, 518, 834, 776, 602, 700, 558, 216, 338, 780, 430, 192, 842, 754, 624, 544, 878, 410, 552, 620, 232, 350, 862]

there are total 48 odd numbers in the list are: [327, 739, 109, 315, 387, 499, 551, 879, 395, 849, 641, 219, 139, 741, 535, 523, 267, 853, 893, 105, 297, 577, 735, 751, 427, 839, 535, 521, 465, 847, 287, 849, 387, 535, 253, 311, 213, 563, 315, 643, 883, 789, 623, 395, 805, 351, 559, 569]

there are total 16 prime numbers in the list are: [739, 109, 499, 641, 139, 523, 853, 577, 751, 839, 521, 311, 563, 643, 883, 569]

Q4. Consider the following two sets, A and B, representing scores of two teams in multiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23} WAP to perform the following operations using set functions:
->Find the unique scores achieved by both teams (union of sets).
->Identify the scores that are common to both teams (intersection of sets).
->Find the scores that are exclusive to each team (symmetric diÔ¨Äerence).
->Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.
->Remove a specific score ùëã (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [188]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print("Unique scores achieved by both the teams are:",A|B)

print("\nScores that are common to both the teams are:",A.intersection(B))

print("\nScores that are exclusive to each teams are:",(A-B).union(B-A))

print("\nA ‚äÜ B (A's scores a subset of B's scores?):")
if (A|B==B):
 print("TRUE" ) 
else:
    print("FALSE")
    
x = int(input("\nEnter a score to remove from A: "))
if x in A:
    A.remove(x)
    print(f"Score {x} removed from A. Updated A:", A)
else:
    print(f"Score {x} is not present in A.")

Unique scores achieved by both the teams are: {34, 45, 78, 23, 56, 90}

Scores that are common to both the teams are: {90, 78}

Scores that are exclusive to each teams are: {56, 34, 45, 23}

A ‚äÜ B (A's scores a subset of B's scores?):
FALSE

Enter a score to remove from A:  2

Score 2 is not present in A.

Q5.Write a program to rename a key city to a location on in the following dictionary.

In [155]:
sample_dict = {
    'name': 'Kelly',
    'age': 25,
    'salary': 8000,
    'city': 'New york'}
sample_dict['location']=sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}